---
name: Auto tag main
on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: SemVer
        id: semver
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh extension install koozz/gh-semver
          gh semver -action
      - name: Tag
        run: |
          if [[ -z $(git tag -l ${{ steps.semver.outputs.version }}) ]]; then
            git tag ${{ steps.semver.outputs.version }}
            git push --tags
          fi
