---
name: Auto release
on:
  push:
    tags:
      - "v*"
  workflow_run:
    workflows: ["Auto tag main"]
    types:
      - completed
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Pre-compile GitHub extension
        uses: cli/gh-extension-precompile@v2.1.0
        with:
          go_version_file: go.mod
